.main{
    display: grid;
    grid-template-columns: 50% 50%;
}

.imgContainer{
    overflow: hidden;
    position: relative;

}
#imgSign{
    height:100%;
}

#texth{
    position: absolute;
        top: 87%;
        left: 19%;
    font-family: 'Righteous', cursive;
    color: white;
}

.fieldContainer{
    
    padding-top: 8%;
    padding-left:8%;
    padding-right:8%;
    padding-bottom:2%;

}
.btn{
        margin-left: 29%;
        margin-top: 3%;
        padding-left: 4%;
        padding-right: 4%;
        font-size: 1.2em;
}

