.main{
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
}

.responsivePair{
    display: flex;
    width: 100%;
    flex-direction: row;
}

.fieldContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 9%;
}
.imgContainer{
    width:50%;

}
.imageC{
 width:100%;
 height:auto;   
}

#signUpbtn{
    padding:5px;
}