.usersdiv{
    display:flex;
    flex-direction: column;
    border:5px dotted red;
}

.infContainer{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.contentDiv{
    margin:0.5em;
    padding:1%;
    display: grid;
    transition: box-shadow .3s;
    border-radius:10px;
    border: 1px solid #ccc;
}
.contentDiv:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

#searchBtn {
   color: white;
   background-color: #544f7b;
   border: #544f7b;
   border-radius: 10%;
   padding: 0.3% 1.5% 0.3% 1.5%;
   margin-left: 1%;

}

.inputContainer{
    margin-top:1%;
    padding-left: 43%;
    margin-bottom: 1%;
}

#cname{
    margin-top:5%;
        font-size: 1.20rem;
}
#cusername{
        font-size: 1.10rem;
        font-weight: 100;
}

#staff{
    margin-left:2%;
}

i{
    margin-left:1%;
}

#makeAdmin{
    border:none;
    
    color: white;
    background-color: #866EFF;
    padding:1%;
    margin-top:1%;
    margin-bottom:1%;
        font-size: 0.8em;
        display: block;
        width:100%;
}
#makeStaff{
    border:none;
    color: white;
    background-color: #866EFF;
    padding:1%;
    margin-top:1%;
    margin-bottom:1%;
        font-size: 0.8em;
        display: block;
        width:100%;
}