.main-div{
            padding-top: 15%;
            padding-left: 11%;
            padding-right: 11%;
            background: white;
            height: 424px;
            width: 497px;
            border-radius: 4%;
                margin-left: 12%;
}
.btn {
    margin-left: 33%;
}
.full{
    background:url("http://localhost:3000/images/82.jpg");
     padding-left:30%;
     padding-right:30%;
     padding-top:10%;
     padding-bottom:10%;
}
#logotext{
    padding-left:17%;
}

#imgid{
    margin-top: -20%;
    padding-left: 24%;
}

